{{ define "main" }}
{{ $baseURL := .Site.BaseURL }}

<article class="recipe">
    <section class="info">
        <h1 class="section-title">{{ .Page.Title }}</h1>
        <dl>
            <dt>Prep Time</dt>
            <dd>{{ .Params.prep_time }}</dd>
            <dt>Cook Time</dt>
            <dd>{{ .Params.cook_time }}</dd>
        </dl>
        <div class="category-list">
            {{ range .Params.categories }}
            <a class="button" href='{{ $baseURL }}{{ "/categories/" | absURL }}{{ . | urlize}}'>{{ . }}</a>
            {{ end }}
        </div>
    </section>
    {{ .Content }}
</article>

{{ end }}